#u144-4
{
	text-align: center;
	color: #7F7F7F;
	font-size: 36px;
	line-height: 43px;
	position: relative;
}

#u143
{
	border-color: #000000;
	background-color: #A4D3EE;
	position: relative;
}

#u143_align_to_page
{
	position: relative;
}

#u110
{
	border-color: #000000;
	background-color: #000000;
	position: relative;
}

