.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#u71
{
	z-index: 3;
	width: 346px;
	position: relative;
	margin-right: -10000px;
	margin-top: 94px;
	left: 54px;
}

#u71_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#pu76-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 62px;
	left: 490px;
}

#u76-4
{
	z-index: 5;
	width: 470px;
	min-height: 94px;
	text-align: center;
	color: #030303;
	font-size: 72px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
}

#u78-4
{
	z-index: 9;
	width: 470px;
	min-height: 39px;
	text-align: center;
	font-size: 24px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#u94
{
	z-index: 13;
	width: 200px;
	min-height: 48px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 143px;
	margin-top: 14px;
	position: relative;
}

#pu70
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 390px;
	left: -100px;
}

#u70
{
	z-index: 2;
	width: 1160px;
	padding-bottom: 13px;
	margin-right: -10000px;
}

#u70_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u132
{
	z-index: 26;
	width: 87px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 110px;
}

#u128-4
{
	z-index: 14;
	width: 368px;
	min-height: 40px;
	text-align: center;
	color: #EEE8AA;
	font-size: 24px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 202px;
}

#u129-4
{
	z-index: 18;
	width: 470px;
	min-height: 82px;
	text-align: justify;
	color: #EEE8AA;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 590px;
}

#u131-4
{
	z-index: 22;
	width: 368px;
	min-height: 34px;
	text-align: center;
	color: #EEE8AA;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 68px;
	left: 202px;
}

#u129-2,#u131-2
{
	padding-right: 10px;
	padding-left: 10px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -389px;
}

